<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Suggester</title>
</head>
<body>
    <input id="ingredient" type="text" placeholder="Vodka">
    <button id="submit">Search</button>
    <p id="result"></p>
    <img id="thumb">

    <script src="/app.js"></script> <!-- script manipulates DOM so must be at end of body -->
</body>
</html>